.select{
  max-width: 40rem;
  
  font-size: 1.8rem;
  font-weight: bold;
  
  text-align: center;
  
  border: 2px rgb(100, 108, 255) solid;
  border-radius: 1rem;
  
  transition: border .1s linear;
  cursor: pointer;
  
  position: relative;

  .options{
    display: block;

    background: whitesmoke;
    border: 2px rgb(77, 84, 197) solid;

    border-radius: 1rem;

    list-style-type: none;

    overflow: hidden;

    position: absolute;
    top: 110%;
    left: -0.2rem;
    right: -0.2rem;
    z-index: 10;
  }
  
  .arrow{
    content: "";

    width: 1.5rem;
    height: 1.5rem;
    border-right: 2px rgb(100, 108, 255) solid;
    border-bottom: 2px rgb(100, 108, 255) solid;

    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(-1.3rem, 50%, 0) rotateZ(45deg);
  }

  //&:{
  //  .arrow{
  //    right: 0;
  //    top: 0;
  //    transform: translate3d(-1.3rem, 125%, 0) rotateZ(-135deg);
  //  }
  //}
  
  .placeholder{
    padding: .5rem 4rem;
  }
  
  
  
  &:hover {
    border-color: rgb(77, 84, 197);
  }
}
